:root {
    --light-blue: #F6F8FF;
    --dark-blue: #0079FF;
}

body {
    background-color: var(--light-blue);
    font-family: "Space Mono", monospace;

}

main {
    margin: 0 auto;
    width: 50%;
}

li {
    list-style-type: none;
}

img {
    border-radius: 100%;
}

.search-input {
    width: 100%;
    height: 70px;
    border: none;
    border-radius: 16px;
    padding: 22px;
}

.cta {
    width: 10%;
    height: 50px;
    background-color: var(--dark-blue);
    border: none;
    border-radius: 16px;
}

.user-card {
    background-color: white;
    border-radius: 16px;
    padding: 48px;
}